<div class="container">
  <div class="row">
    {{#each (limit drinks 4)}}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
        <div class="card drink-card">
          <div class="card-body">
            <img src="{{image_link}}" class="card-img-top" alt="The Cocktail of Choice">
            <h5>{{drink_name}}</h5>
            <p>Rating: ⭐⭐⭐⭐⭐</p>
            <a href="/drink-details?id={{drink_id}}&name={{drink_name}}&spirit={{spirit_type}}&amount={{spirit_amount}}&ingredients={{ingredients}}&instructions={{instructions}}" class="btn btn-primary">View Recipe</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
