<section class="card">
    <a href="/drink/{{drink.id}}">
        <div class="card-image">
            <img src="{{drink.image}}" alt="{{drink.drinkName}}" />
        </div>
        <div class="card-content">
            <h2>{{drink.drinkName}}</h2>
            <p>{{drink.drinkRating}}</p>
        </div>
</section>