<div class="container">
  <div class="row">
    {{#each (limit drinks 4)}}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
        <div class="card drink-card">
          <div class="card-body">
            <img src="{{image_link}}" class="card-img-top" alt="The Cocktail of Choice">
            <h5>{{drink_name}}</h5>
            {{!-- <p>Spirit Type: {{spirit_type}}</p>
            <p>Spirit Amount: {{spirit_amount}}</p>
            <p>Ingredients: {{ingredients}}</p>
            <p>Instructions: {{instructions}}</p> --}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
