{{!-- <section class="card">
    <a href="/userdrink/{{id}}">
        <div class="card-image">
            <img src="{{image}}" alt="{{drinkName}}" />
        </div>
        <div class="card-content">
            <h2>{{drinkName}}</h2>
        </div>
</section> --}}

<div class="drink-card">
  <h2>{{drink_name}}</h2>
  <p>Spirit Type: {{spirit_type}}</p>
  <p>Spirit Amount: {{spirit_amount}}</p>
  <p>Ingredients: {{ingredients}}</p>
  <p>Instructions: {{instructions}}</p>
</div>

