<div class="container mt-5 p-5">
  <div class="row align-items-center mt-5 p-5 overflow-auto drink-results">
    {{#each drinks}}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
        <div class="card drink-card">
          <div class="card-body">
            <a
              href="/drink-details?id={{drink_id}}&name={{encodeURIComponent
                drink_name
              }}&spirit={{encodeURIComponent
                spirit_type
              }}&amount={{encodeURIComponent
                spirit_amount
              }}&ingredients={{encodeURIComponent
                ingredients
              }}&instructions={{encodeURIComponent
                instructions
              }}&image={{encodeURIComponent image_link}}"
              class="image-link"
            >
              <img
                src="{{image_link}}"
                class="card-img-top card-img"
                alt="The Cocktail of Choice"
              />
              <div class="overlay">
                <div class="overlay-text">
                  <h6>{{drink_name}}</h6>
                  <p>Rating:
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                  </p>
                </div>
              </div>
              <button class="heart-btn" data-drink-id="{{drink_id}}">
                <i class="fa-regular fa-heart"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/js/drink-results.js"></script>

{{! ⭐⭐⭐⭐⭐ }}