<div class="logo">{{> logo}}</div>
<div class="nav">{{> nav-bar}}</div>
<div class="artDeco">{{> art-deco}}</div>

<div class="drink-details">
    <h4>{{name}}</h4>
    <p>Spirit Type: {{spirit}}</p>
    <p>Spirit Amount: {{amount}} OZ</p>
    <p>Ingredients: {{ingredients}}</p>
    <p>Instructions: {{instructions}}</p><br>
    <p>Rating: ⭐⭐⭐⭐⭐</p> 
    {{!-- this will be the area where the user can input their own rating --}}
    {{!-- This will be a future feature --}}
</div>

