<div class="logo">{{> logo}}</div>
<div class="nav">{{> nav-bar}}</div>
<div class="artDeco">{{> art-deco}}</div>

<div class="drink-details">
    <h2>{{drink_name}}</h2>
    <p>Spirit Type: {{spirit_type}}</p>
    <p>Spirit Amount: {{spirit_amount}}</p>
    <p>Ingredients: {{ingredients}}</p>
    <p>Instructions: {{instructions}}</p>
</div>