<div class="logo">{{> logo}}</div>
<div class="nav">{{> nav-bar}}</div>
<div class="artDeco">{{> art-deco}}</div>
<body>
<div class="results">
    <div class="results-container">
        {{#each drinks}}
        <!-- Include other attributes as needed -->
            <img src="{{drink_link}}" 
            width="256" height="170" alt="The Cocktail of Choice">
            <li>Your Cocktail: {{drink_name}}</li>
            <li>Your Spirit: {{spirit_type}}</li>
            <li>Your Quantity: {{spirit_amount}} OZ</li>
            <p>Ingredients: {{ingredients}}</p>
            <p>Instructions: {{instructions}}</p>
            {{else}}
            <p>No drinks found</p>
        {{/each}}
    </div>
</div>
</body>


{{!-- {{#each drinks}}
  {{> drink-card}}
{{/each}} --}}

{{> drink-card}}