<div class="logo">{{> logo}}</div>
<div class="artDeco">{{> art-deco}}</div>

<section class="drink-details">
    <div class="drink-details-container">
        <a href="/drink/{{id}}">
        <div class="drink-details-image">
            <img src="{{image}}" alt="{{drinkName}}" />
        </div>
        <div class="drink-details-content">
            <h2>{{drinkName}}</h2>
            <p>{{drinkRating}}</p>
            <p>{{drinkIngredients}}</p>
            <p>{{drinkInstructions}}</p>
        </div>
    </div>
    </div>