{{!-- <div class="logo">{{> logo}}</div>
<div class="nav">{{> nav-bar}}</div> --}}
<div class="artDeco">{{> art-deco}}</div>
<div class="artDeco2">{{> art-deco2}}</div>

<div class="drink-details">
    <h4>{{name}}</h4>
    <img src="{{image}}" class="card-detail-img" alt="The Cocktail of Choice">
    <p>Spirit Type: {{spirit}}</p>
    <p>Spirit Amount: {{amount}} OZ</p>
    <p>Ingredients: {{ingredients}}</p>
    <p>Instructions: {{instructions}}</p><br>
    <p>How did you like this drink??</p> 
    {{!-- this will be the area where the user can input their own rating --}}
    {{!-- This will be a future feature --}}
    <div class="star-rating">
        <input type ='radio' name='rate' id='rate-5'>
        <label for='rate-5' class="fas fa-star"></label>
        <input type ='radio' name='rate' id='rate-4'>
        <label for='rate-4' class="fas fa-star"></label>
        <input type ='radio' name='rate' id='rate-3'>
        <label for='rate-3' class="fas fa-star"></label>
        <input type ='radio' name='rate' id='rate-2'>
        <label for='rate-2' class="fas fa-star"></label>
        <input type ='radio' name='rate' id='rate-1'>
        <label for='rate-1' class="fas fa-star"></label>
    </div>
</div>

