{{> borderLine}}
{{> borderLineRight}}

{{!-- Main Container for drink rendering --}}
<div class="container detail-container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4 drink-details">
                <div class="row no-gutters drink-details-container">
                    <div class="col-md-4 card-detail-img-container">
                        <img src="{{image}}" class="card-img card-detail-img" alt="The Cocktail of Choice">
                        <button class="heart-btn" data-drink-id="{{id}}">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                        {{!-- social media icon buttons --}}
                        <div class="social-icons">
                            <button class="social-btn instagram-btn border-0"
                                onclick="window.open('https://www.instagram.com/USERNAME', '_blank')">
                                <i class="fab fa-instagram"></i>
                            </button>
                            <button class="social-btn twitter-btn border-0"
                                onclick="window.open('https://twitter.com/USERNAME', '_blank')">
                                <i class="fab fa-twitter-square"></i>
                            </button>
                        </div>
                    </div>
                    {{!-- drink card rendering info --}}
                    <div class="col-md-8">
                        <div class="card-body drink-info">
                            <h4 class="card-title">{{name}}</h4>
                            <p class="card-text"><span class="bold-text">Rating:</span> ⭐⭐⭐⭐⭐</p>
                            <p class="card-text"><span class="bold-text">Spirit Type:</span> {{spirit}}</p>
                            <p class="card-text"><span class="bold-text">Spirit Amount:</span> {{amount}}</p>
                            <p class="card-text"><span class="bold-text">Ingredients:</span> {{ingredients}}</p>
                            <p class="card-text"><span class="bold-text">Instructions:</span> {{instructions}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Static content for rating system --}}
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 comment-rating-card">
                        <div class="card-body">
                            <p class="card-text">Rating: ⭐⭐⭐⭐</p>
                            <p>This drink was incredible! The flavors were perfectly balanced and so refreshing. It's
                                definitely my new favorite for any occasion!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 comment-rating-card">
                        <div class="card-body">
                            <p class="card-text">Rating: ⭐⭐⭐⭐⭐</p>
                            <p>I was blown away by this beverage! It had a perfect mix of robustness and complexity. A
                                true delight for the taste buds, I can't wait to have it again.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 comment-rating-card">
                        <div class="card-body">
                            <p class="card-text">Rating: ⭐⭐⭐⭐</p>
                            <p>Absolutely fantastic! The drink was smooth and flavorful, with just the right amount of
                                kick. It's an instant crowd-pleaser and perfect for any gathering</p>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Context box for comments system --}}
            <div class="card mb-4 rating-comments">
                <div class="card-body">
                    <h3 class="card-title">How did you like this drink?</h3>
                    <div class="star-rating">
                        <form id="rating-form" action="/submit-rating" method="POST">
                            <input type='radio' name='rate' id='rate-5' value="5">
                            <label for='rate-5' class="fas fa-star"></label>
                            <input type='radio' name='rate' id='rate-4' value="4">
                            <label for='rate-4' class="fas fa-star"></label>
                            <input type='radio' name='rate' id='rate-3' value="3">
                            <label for='rate-3' class="fas fa-star"></label>
                            <input type='radio' name='rate' id='rate-2' value="2">
                            <label for='rate-2' class="fas fa-star"></label>
                            <input type='radio' name='rate' id='rate-1' value="1">
                            <label for='rate-1' class="fas fa-star"></label>
                            <form action='#'>
                                <header></header>
                                <div class="textarea mt-3">
                                    <textarea name="comment" cols="30"
                                        placeholder="Comments system coming soon..., Stay Frosty"></textarea>
                                </div>
                                <input type="hidden" name="drink_id" value="{{id}}">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-8 col-lg-6">
                                        <button id="submitButton" type="submit" class="btn mt-3 submit w-100"
                                            style="--bs-btn-padding-y: .50rem; --bs-btn-font-size: 1rem; --bs-btn-bg: #822c1c; --bs-btn-color: #f8f4ea; --bs-btn-hover-color: #f8f4ea; --bs-btn-hover-bg: #ce7c6d; pointer-events: none;">
                                            Feature Coming Soon!
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/js/favorites.js"></script>