<div class="logo">{{> logo}}</div>
<div class="artDeco">{{> art-deco}}</div>
<body>
<div class="results">
    <div class="results-container">
        {{#each drinks}}
        <!-- Include other attributes as needed -->
            <img src="https://www.simplyrecipes.com/thmb/s_de1Nuw4ULiHNECVHOCBY5u5Wk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2020__01__Old-Fashioned-Cocktail-LEAD-5-1024x681-aa81a798a156453d80d1f7d41de893ff.jpg" 
            width="256" height="170" alt="The Cocktail of Choice">
            <li>Your Cocktail: {{drink_name}}</li>
            <li>Your Spirit: {{spirit_type}}</li>
            <li>Your Quantity: {{spirit_amount}} OZ</li>
            <p>Ingredients: {{ingredients}}</p>
            <p>Instructions: {{instructions}}</p>
            {{else}}
            <p>No drinks found</p>
        {{/each}}
    </div>
</div>
</body>