    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Added Drinks</title>
    </head>
    <body>
        {{#each users}}
        <h1>{{dataValues.drinkname}}</h1>
        <ul>
            <li>{{dataValues.spirittype}} - {{dataValues.spiritamount}}</li>
            <p>{{dataValues.ingredients}}</p>
            <p>{{dataValues.instructions}}</p>
    {{else}}
            <p>No drinks found</p>
    {{/each}}
    </body>
    </html>
