<!DOCTYPE html>
<html>
<body>
    <h1>User Drinks</h1>
    <ul>
        {{#each users}}
            <li>{{this.drinkname}} - {{this.spirittype}} - {{this.spiritamount}} - {{this.ingredients}} - {{this.instructions}}</li>
        {{/each}}
    </ul>
</body>
</html>

