{{> art-deco}}
{{> art-deco2}}

        <div class="container detail-container">
            <div class="row justify-content-center">
            <div class="col-md-8">
                {{#each users}}
                <div class="card mb-4 drink-details">
                <div class="row drink-details-container">
                    <div class="col-md-8">
                    <div class="card-body drink-info">
                        <h4 class="card-title">{{dataValues.drinkname}}</h4>
                        <p class="card-text">Spirit Type: {{dataValues.spirittype}}</p>
                        <p class="card-text">Spirit Amount: {{dataValues.spiritamount}} OZ</p>
                        <p class="card-text">Ingredients: {{dataValues.ingredients}}</p>
                        <p class="card-text">Instructions: {{dataValues.instructions}}</p>
                    </div>
                    </div>
                </div>
                </div>
                {{/each}}
                {{^each users}}
                <p>No drinks found</p>
                {{/each}}
            </div>
            </div>
        </div>
       
{{!-- 
        {{#each users}}
        <h1>{{dataValues.drinkname}}</h1>
        <ul>
            <li>{{dataValues.spirittype}} - {{dataValues.spiritamount}}</li>
            <p>{{dataValues.ingredients}}</p>
            <p>{{dataValues.instructions}}</p>
    {{else}}
            <p>No drinks found</p>
    {{/each}} --}}
