    {{#each users}}
        <h1>{{dataValues.drinkname}}</h1>
        <ul>
            <li>{{dataValues.spirittype}} - {{dataValues.spiritamount}}</li>
            <p>{{dataValues.ingredients}}</p>
            <p>{{dataValues.instructions}}</p>
    {{else}}
            <p>No drinks found</p>
    {{/each}}
